In [1]:
# 라이브러리 임포트
import os
import numpy as np
import pandas as pd

import torch
import torch.nn as nn
from torch import autograd
from torch.utils import data
from torch.optim import Adam
from torchvision import datasets, transforms
import torchvision.models as models

## prophet

In [2]:
DATASET_PATH = os.path.join('./traffic/data')

In [3]:
df_train = pd.read_csv(os.path.join(DATASET_PATH, 'train.csv'))
df_train

,날짜,시간,10,100,101,120,121,140,150,160,...,1020,1040,1100,1200,1510,2510,3000,4510,5510,6000
0,20200101,0,83247,19128,2611,5161,1588,892,32263,1636,...,1311,3482,11299,7072,1176,3810,748,3920,2133,3799
1,20200101,1,89309,19027,3337,5502,1650,1043,35609,1644,...,1162,3849,13180,8771,1283,3763,782,3483,2057,4010
2,20200101,2,66611,14710,2970,4631,1044,921,26821,1104,...,768,2299,7986,5426,1536,3229,491,2634,1526,3388
3,20200101,3,53290,13753,2270,4242,1021,790,21322,909,...,632,1716,5703,3156,1104,2882,431,2488,1268,3686
4,20200101,4,52095,17615,2406,3689,1840,922,22711,1354,...,875,2421,5816,2933,1206,2433,499,2952,1927,5608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,20200517,19,311727,101285,10085,30637,10060,8749,148935,6801,...,6726,15431,25597,14292,9300,22238,3786,16936,10729,20194
3275,20200517,20,305354,91426,8607,26021,8095,7198,136503,6147,...,5501,15378,24661,14747,8239,20604,3203,15018,9767,17962
3276,20200517,21,306008,75113,6325,19933,5711,4494,129412,5134,...,4216,12558,22781,14081,6392,17937,2447,12403,7825,14031
3277,20200517,22,237447,49498,4209,12145,3891,2718,96698,3526,...,2578,8870,16640,11066,4427,11955,1495,7507,5387,8889
3278,20200517,23,150312,27410,2350,6406,1803,1614,55788,1849,...,1377,5021,10058,7139,2250,6844,735,4116,3046,4606

In [4]:
# # len(df_train.columns[3:])
# drop_list = []
# for i in df_train.columns[3:]:
#     # drop_list.append(df_train.columns[]
#     drop_list.append(i)

# df_train = df_train.drop(columns=drop_list)
df_train['날짜'] = df_train['날짜'].astype('str')
df_train['시간'] = df_train['시간'].astype('str')
df_train['날짜'] = df_train['날짜'] + ' ' + df_train['시간']

In [5]:
df_train

,날짜,시간,10,100,101,120,121,140,150,160,...,1020,1040,1100,1200,1510,2510,3000,4510,5510,6000
0,20200101 0,0,83247,19128,2611,5161,1588,892,32263,1636,...,1311,3482,11299,7072,1176,3810,748,3920,2133,3799
1,20200101 1,1,89309,19027,3337,5502,1650,1043,35609,1644,...,1162,3849,13180,8771,1283,3763,782,3483,2057,4010
2,20200101 2,2,66611,14710,2970,4631,1044,921,26821,1104,...,768,2299,7986,5426,1536,3229,491,2634,1526,3388
3,20200101 3,3,53290,13753,2270,4242,1021,790,21322,909,...,632,1716,5703,3156,1104,2882,431,2488,1268,3686
4,20200101 4,4,52095,17615,2406,3689,1840,922,22711,1354,...,875,2421,5816,2933,1206,2433,499,2952,1927,5608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,20200517 19,19,311727,101285,10085,30637,10060,8749,148935,6801,...,6726,15431,25597,14292,9300,22238,3786,16936,10729,20194
3275,20200517 20,20,305354,91426,8607,26021,8095,7198,136503,6147,...,5501,15378,24661,14747,8239,20604,3203,15018,9767,17962
3276,20200517 21,21,306008,75113,6325,19933,5711,4494,129412,5134,...,4216,12558,22781,14081,6392,17937,2447,12403,7825,14031
3277,20200517 22,22,237447,49498,4209,12145,3891,2718,96698,3526,...,2578,8870,16640,11066,4427,11955,1495,7507,5387,8889
3278,20200517 23,23,150312,27410,2350,6406,1803,1614,55788,1849,...,1377,5021,10058,7139,2250,6844,735,4116,3046,4606

In [6]:
for i in range(len(df_train)):
    if len(df_train['시간'][i]) == 1:
        df_train['날짜'][i] = df_train['날짜'][i][0:4] + '-' + df_train['날짜'][i][4:6] + '-' + df_train['날짜'][i][6:8] + ' 0' + df_train['날짜'][i][9:10] + ':00:00'
    else:
        df_train['날짜'][i] = df_train['날짜'][i][0:4] + '-' + df_train['날짜'][i][4:6] + '-' + df_train['날짜'][i][6:8] + ' ' + df_train['날짜'][i][9:11] + ':00:00'

df_train['날짜'] = pd.to_datetime(df_train['날짜'])
df_train

/tmp/ipykernel_81203/767065649.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['날짜'][i] = df_train['날짜'][i][0:4] + '-' + df_train['날짜'][i][4:6] + '-' + df_train['날짜'][i][6:8] + ' 0' + df_train['날짜'][i][9:10] + ':00:00'
/tmp/ipykernel_81203/767065649.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['날짜'][i] = df_train['날짜'][i][0:4] + '-' + df_train['날짜'][i][4:6] + '-' + df_train['날짜'][i][6:8] + ' ' + df_train['날짜'][i][9:11] + ':00:00'

,날짜,시간,10,100,101,120,121,140,150,160,...,1020,1040,1100,1200,1510,2510,3000,4510,5510,6000
0,2020-01-01 00:00:00,0,83247,19128,2611,5161,1588,892,32263,1636,...,1311,3482,11299,7072,1176,3810,748,3920,2133,3799
1,2020-01-01 01:00:00,1,89309,19027,3337,5502,1650,1043,35609,1644,...,1162,3849,13180,8771,1283,3763,782,3483,2057,4010
2,2020-01-01 02:00:00,2,66611,14710,2970,4631,1044,921,26821,1104,...,768,2299,7986,5426,1536,3229,491,2634,1526,3388
3,2020-01-01 03:00:00,3,53290,13753,2270,4242,1021,790,21322,909,...,632,1716,5703,3156,1104,2882,431,2488,1268,3686
4,2020-01-01 04:00:00,4,52095,17615,2406,3689,1840,922,22711,1354,...,875,2421,5816,2933,1206,2433,499,2952,1927,5608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,2020-05-17 19:00:00,19,311727,101285,10085,30637,10060,8749,148935,6801,...,6726,15431,25597,14292,9300,22238,3786,16936,10729,20194
3275,2020-05-17 20:00:00,20,305354,91426,8607,26021,8095,7198,136503,6147,...,5501,15378,24661,14747,8239,20604,3203,15018,9767,17962
3276,2020-05-17 21:00:00,21,306008,75113,6325,19933,5711,4494,129412,5134,...,4216,12558,22781,14081,6392,17937,2447,12403,7825,14031
3277,2020-05-17 22:00:00,22,237447,49498,4209,12145,3891,2718,96698,3526,...,2578,8870,16640,11066,4427,11955,1495,7507,5387,8889
3278,2020-05-17 23:00:00,23,150312,27410,2350,6406,1803,1614,55788,1849,...,1377,5021,10058,7139,2250,6844,735,4116,3046,4606

In [7]:
df_train.dtypes

날짜      datetime64[ns]
시간              object
10               int64
100              int64
101              int64
120              int64
121              int64
140              int64
150              int64
160              int64
200              int64
201              int64
251              int64
270              int64
300              int64
301              int64
351              int64
352              int64
370              int64
400              int64
450              int64
500              int64
550              int64
600              int64
650              int64
652              int64
1000             int64
1020             int64
1040             int64
1100             int64
1200             int64
1510             int64
2510             int64
3000             int64
4510             int64
5510             int64
6000             int64
dtype: object

In [8]:
df_train = df_train.drop(columns='시간')
df_train

,날짜,10,100,101,120,121,140,150,160,200,...,1020,1040,1100,1200,1510,2510,3000,4510,5510,6000
0,2020-01-01 00:00:00,83247,19128,2611,5161,1588,892,32263,1636,7938,...,1311,3482,11299,7072,1176,3810,748,3920,2133,3799
1,2020-01-01 01:00:00,89309,19027,3337,5502,1650,1043,35609,1644,9896,...,1162,3849,13180,8771,1283,3763,782,3483,2057,4010
2,2020-01-01 02:00:00,66611,14710,2970,4631,1044,921,26821,1104,9343,...,768,2299,7986,5426,1536,3229,491,2634,1526,3388
3,2020-01-01 03:00:00,53290,13753,2270,4242,1021,790,21322,909,10009,...,632,1716,5703,3156,1104,2882,431,2488,1268,3686
4,2020-01-01 04:00:00,52095,17615,2406,3689,1840,922,22711,1354,15497,...,875,2421,5816,2933,1206,2433,499,2952,1927,5608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,2020-05-17 19:00:00,311727,101285,10085,30637,10060,8749,148935,6801,26101,...,6726,15431,25597,14292,9300,22238,3786,16936,10729,20194
3275,2020-05-17 20:00:00,305354,91426,8607,26021,8095,7198,136503,6147,20759,...,5501,15378,24661,14747,8239,20604,3203,15018,9767,17962
3276,2020-05-17 21:00:00,306008,75113,6325,19933,5711,4494,129412,5134,14496,...,4216,12558,22781,14081,6392,17937,2447,12403,7825,14031
3277,2020-05-17 22:00:00,237447,49498,4209,12145,3891,2718,96698,3526,9363,...,2578,8870,16640,11066,4427,11955,1495,7507,5387,8889
3278,2020-05-17 23:00:00,150312,27410,2350,6406,1803,1614,55788,1849,5722,...,1377,5021,10058,7139,2250,6844,735,4116,3046,4606

In [10]:
# !pip install pystan==2.19.1.1
# !pip install fbprophet==0.7.1
# !pip install prophet==1.0.1
from prophet import Prophet

In [ ]:
# df_train.columns[0:5]
#  if df['mths_since_last_delinq{}'.format(i+1)][j] == 1:

submission_file_path = os.path.join(DATASET_PATH, 'sample_submission.csv')
submission_table = pd.read_csv(submission_file_path)
submission_table

for i, col in enumerate(df_train.columns[1:]):

    df_for = df_train[['날짜', '{}'.format(col)]]
    df_for.columns = ['ds', 'y']

    m = Prophet(yearly_seasonality=True)
    m.fit(df_for)

    future=m.make_future_dataframe(periods=24*14 , freq='H')  # 14일치를 예측할 것.
    forecast=m.predict(future)
    df_pred = forecast[['ds', 'yhat']][3447:].reset_index()
    
    submission_table['{}'.format(col)] = df_pred["yhat"]

submission_table

In [35]:
submission_table.to_csv('prediction.csv', index=False)

# for문 코드를 위한 사전시도 (skip)

In [11]:
# 날짜와 도로 1개를 남기고 ds와 y로 바꾸기

# len(df_train.columns[2:])
drop_list = []
for i in df_train.columns[2:]:
    # drop_list.append(df_train.columns[]
    drop_list.append(i)

df_train = df_train.drop(drop_list, axis = 1)
df_train.columns = ['ds', 'y']

df_train

                      ds       y
0    2020-01-01 00:00:00   83247
1    2020-01-01 01:00:00   89309
2    2020-01-01 02:00:00   66611
3    2020-01-01 03:00:00   53290
4    2020-01-01 04:00:00   52095
...                  ...     ...
3274 2020-05-17 19:00:00  311727
3275 2020-05-17 20:00:00  305354
3276 2020-05-17 21:00:00  306008
3277 2020-05-17 22:00:00  237447
3278 2020-05-17 23:00:00  150312

[3279 rows x 2 columns]

prophet

In [12]:
# !pip install pystan==2.19.1.1
# !pip install fbprophet==0.7.1
# !pip install prophet==1.0.1
from prophet import Prophet

In [13]:
# prophet 학습

m = Prophet()
m.fit(df_train)

INFO:prophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [24]:
future=m.make_future_dataframe(periods=24*14 , freq='H')  # 14일치를 예측할 것.
forecast=m.predict(future)
df_pred = forecast[['ds', 'yhat']][3447:].reset_index()

In [26]:
df_pred['yhat']

0      113935.028756
1       81091.598943
2       61556.828281
3       66210.637727
4       99824.561493
           ...
163    309707.395059
164    267758.395287
165    226913.848557
166    189371.622935
167    153173.707829
Name: yhat, Length: 168, dtype: float64

In [27]:
submission_file_path = os.path.join(DATASET_PATH, 'sample_submission.csv')
submission_table = pd.read_csv(submission_file_path)
submission_table

       timestamp   10  100  101  120  121  ...  1510  2510  3000  4510  5510  6000
0     20200525_0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
1     20200525_1  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2     20200525_2  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3     20200525_3  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4     20200525_4  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
..           ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...   ...   ...
163  20200531_19  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
164  20200531_20  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
165  20200531_21  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
166  20200531_22  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
167  20200531_23  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[168 rows x 36 columns]

In [28]:
submission_table['10'] = df_pred["yhat"]
submission_table

       timestamp             10  100  101  120  ...  2510  3000  4510  5510  6000
0     20200525_0  113935.028756  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0
1     20200525_1   81091.598943  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0
2     20200525_2   61556.828281  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0
3     20200525_3   66210.637727  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0
4     20200525_4   99824.561493  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0
..           ...            ...  ...  ...  ...  ...   ...   ...   ...   ...   ...
163  20200531_19  309707.395059  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0
164  20200531_20  267758.395287  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0
165  20200531_21  226913.848557  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0
166  20200531_22  189371.622935  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0
167  20200531_23  153173.707829  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0

[168 rows x 36 columns]